jupyter-book
matplotlib<3.9 # required until there's a new release of healpy (see https://github.com/healpy/healpy/pull/944)
numpy
xarray
dask>=2023.2.0
intake[dataframe]<2.0.0 # since intake 0.6.1 to_dask() doesn't work anymore without the [dataframe] specification due to a missing msgpack dependency
intake-xarray
fsspec!=0.9.0 # 0.9.0 has a bug which leads to incomplete reads via HTTP
requests
aiohttp
zarr>=2.8.3
healpy
pybtex-apa-style
docutils==0.17.1  # see https://github.com/executablebooks/jupyter-book/issues/1997
easygems>=0.0.3
cmocean
jinja2
orcestra
