@font-face {
    font-family: 'Aileron';
    src: url('aileron_font/Aileron-Regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('aileron_font/Aileron-Italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Aileron';
    src: url('aileron_font/Aileron-SemiBold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('aileron_font/Aileron-SemiBold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: 'Aileron';
    src: url('aileron_font/Aileron-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('aileron_font/Aileron-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

html {
    --pst-font-family-heading: Aileron, var(--pst-font-family-base-system);
    --pst-font-family-base: Aileron, var(--pst-font-family-base-system);
}

.badge {
  display: inline-block;
  padding: 0.25em 0.5em;
  font-size: tiny;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.cat-a {
  background-color: #33691E;
  color: #fff;
}

.cat-b {
  background-color: #8BC34A;
  color: #333;
}

.cat-c {
  background-color: #C5E1A5;
  color: #333;
}

.cat-unknown {
  background-color: #fff;
  color: red;
  font-style: italic;
}

.campaign-logo {
  float: right;
  margin: 10px 10px 0 0;
  max-width: 150px;
  height: auto;
}

.multi-column {
  column-width: 100px;
}
